section.about-section
  .wrapper
    .about-section__container
      .about-section__box
        h2.about-section__title
          .font-w-dgo-regular.font-s-22.text-up
            | “15 лет с любовью и заботой 
            br.no-br-md
            | предоставляем качественное 
            br.no-br-md
            | образование”
          .font-w-regular.font-s-24
            | Ирина Дружинина
            br
            | Основатель центра
        .about-section__text.font-s-24
          | Официальное открытие ЧОУ ДПО «Формула 
          br.no-br-md
          | успеха» состоялось в августе 2009 года после 
          br.no-br-md
          | получения лицензии на ведение 
          br.no-br-md
          | образовательной деятельности. Начинали мы 
          br.no-br-md
          | с 2 небольших классов и 6 сотрудников, а 
          br.no-br-md
          | сегодня у нас успешно функционируют 3 
          br.no-br-md
          | собственных филиала, в которых обучаются 
          br.no-br-md
          | как дети, так и взрослые.
      .about-section__content.font-s-24
        | Сейчас родители делают огромный упор на дополнительное образование. Мы развиваем детей 
        br.no-br-md
        | разносторонне, создаем прекрасные условия и уютную атмосферу, чтобы они могли чувствовать 
        br.no-br-md
        | себя комфортно. Обучение проходит по собственным авторским программам с индивидуальным 
        br.no-br-md
        | подходом к каждому ученику.
        br
        br
        | Основу нашего учебного центра составляет сплоченный и профессионально подготовленный 
        br.no-br-md
        | коллектив, имеющий большой опыт работы в данной области, регулярно проходящий курсы 
        br.no-br-md
        | повышения квалификации, участвующий в образовательных конференциях и семинарах, 
        br.no-br-md
        | использующий уникальные учебные пособия и успешно сочетающий традиционные занятия 
        br.no-br-md
        | Российской школы и современные международные педагогические технологии.
        br
        br
        | У нас созданы все условия для того, чтобы обучение было доступным, занимательным и 
        br.no-br-md
        | эффективным, мы дарим любовь, заботу и уверенность в завтрашнем дне!
