section.city-section
  .wrapper
    .city-section__container
      h2.city-section__title.font-w-dgo-regular.font-s-26.text-up
        | Станьте владельцем собственного 
        br.no-br
        | центра дополнительного 
        br.no-br
        | профессионального образования 
        br.no-br
        | с франшизой «ФОРМУЛА УСПЕХА»
      .city-section__bottom
        .city-section__bottom-text.font-w-dgo-regular.font-s-18.text-up Проверьте, свободен ли <br> ваш город для работы
        form.city-section__form(data-feedback-form)
          input.input(type="text" name="name" autocomplete="off" placeholder="Ваше имя")
          input.input(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Ваш телефон")
          button.btn(type="submit") Получить план открытия
      img.city-section__img(src="images/city-section-img.png" loading="lazy" width="583" height="874" alt="image")