header.footer
  .wrapper
    .footer__container
      img.footer__logo(src="images/logo-footer.png" loading="lazy" width="413" height="145" alt="logo")
      .footer__box
        .footer__text.font-s-16 © Формула успеха, 2024
        a.footer__privacy.font-s-14(href="#" data-remodal-target="privacy") Политика конфиденциальноcти
        .footer__connection
          include ../components/phone-number.pug

      //-   a(href="tel:+79990000000")
      //- .footer__call-me.font-s-16(data-remodal-target="modal-form-call-me") Заказать звонок

