header.footer
  .footer__container
    img.footer__logo(src="images/logo.png" loading="lazy" width="304" height="214" alt="logo")
    .footer__title.font-s-16
      .font-w-semi-bold PROOBRAZ
      .font-w-light Франшиза студии <br> эстетики тела и лица
    .footer__connection
      .footer__connection-phone
        a(href="tel:+79990000000")
          img.footer__connection-icon(src="images/header-connection-icon.svg" loading="lazy" width="16" height="16" alt="icon")
        include ../components/phone-number.pug
      //- .footer__call-me.font-s-16(data-remodal-target="modal-form-call-me") Заказать звонок

