header.header
  .header__container
    .header__box-left
      img.header__logo(src="images/logo.png" loading="lazy" width="556" height="226" alt="logo")
      .header__title.font-s-16.mark-blue
        | Франшиза центра дополнительного 
        br
        | и профессионального образования
    .header__connection
      include ../components/phone-number.pug
      //- .header__call-me.font-s-16(data-remodal-target="modal-form-call-me") Заказать звонок
