section.steps-section
  .wrapper
    .steps-section__container
      h2.steps-section__title.font-s-48.text-up
        span.font-w-bold Основные этапы 
        br
        span.font-w-regular запуска вашей компании
      .steps-section__wrapper-cards
        img.steps-section__image(src="images/steps-section-image.jpg" loading="lazy" width="142" height="396" alt="image")
        img.steps-section__stars(src="images/steps-section-stars.svg" loading="lazy" width="522" height="333" alt="stars")
        .swiper-large
          .steps-section__cards.swiper-wrapper
            .steps-section__card-white.swiper-slide.card-1
              .steps-section__card-white-header
                .font-w-semi-bold.font-s-32.mark-green шаг 01
                img.steps-section__star-green(src="images/steps-section-star-green.svg" loading="lazy" width="47" height="47" alt="star")
              .font-w-regular.font-s-18 Регистрация <br> бизнеса
            .steps-section__card-white.swiper-slide.card-2
              .steps-section__card-white-header
                .font-w-semi-bold.font-s-32.mark-green шаг 02
                img.steps-section__star-green(src="images/steps-section-star-green.svg" loading="lazy" width="47" height="47" alt="star")
              .font-w-regular.font-s-18 Аренда <br> помещения
            .steps-section__card-white.swiper-slide.card-3
              .steps-section__card-white-header
                .font-w-semi-bold.font-s-32.mark-green шаг 03
                img.steps-section__star-green(src="images/steps-section-star-green.svg" loading="lazy" width="47" height="47" alt="star")
              .font-w-regular.font-s-18 Ремонт <br> помещения
            .steps-section__card-green.swiper-slide.card-4
              .steps-section__card-green-header
                .font-w-semi-bold.font-s-32 шаг 04
                img.steps-section__star-green(src="images/steps-section-star-white.svg" loading="lazy" width="60" height="50" alt="star")
              .font-w-regular.font-s-18 Заказ коллекции товаров  и <br class"no-br"> аксессуаров (для формата <br> Шоу-рум)
            .steps-section__card-green.swiper-slide.card-5
              .steps-section__card-green-header
                .font-w-semi-bold.font-s-32 шаг 05
                img.steps-section__star-green(src="images/steps-section-star-white.svg" loading="lazy" width="60" height="50" alt="star")
              .font-w-regular.font-s-18 Заказ оборудования и <br class"no-br"> материалов (для формата <br> Ателье + Шоу-рум)
            .steps-section__card-white.swiper-slide.card-6
              .steps-section__card-white-header
                .font-w-semi-bold.font-s-32.mark-green шаг 06
                img.steps-section__star-green(src="images/steps-section-star-green.svg" loading="lazy" width="47" height="47" alt="star")
              .font-w-regular.font-s-18 Подбор <br> персонала
            .steps-section__card-white.swiper-slide.card-7
              .steps-section__card-white-header
                .font-w-semi-bold.font-s-32.mark-green шаг 07
                img.steps-section__star-green(src="images/steps-section-star-green.svg" loading="lazy" width="47" height="47" alt="star")
              .font-w-regular.font-s-18 Обучение <br> сотрудников
            .steps-section__card-white.swiper-slide.card-8
              .steps-section__card-white-header
                .font-w-semi-bold.font-s-32.mark-green шаг 08
                img.steps-section__star-green(src="images/steps-section-star-green.svg" loading="lazy" width="47" height="47" alt="star")
              .font-w-regular.font-s-18 Передача <br> технологий
            .steps-section__card-white.swiper-slide.card-9
              .steps-section__card-white-header
                .font-w-semi-bold.font-s-32.mark-green шаг 09
                img.steps-section__star-green(src="images/steps-section-star-green.svg" loading="lazy" width="47" height="47" alt="star")
              .font-w-regular.font-s-18 Передача <br> регламентов
            .steps-section__card-green.swiper-slide.card-10
              .steps-section__card-green-header
                .font-w-semi-bold.font-s-32 шаг 10
                img.steps-section__star-green(src="images/steps-section-star-white.svg" loading="lazy" width="60" height="50" alt="star")
              .font-w-regular.font-s-18 Запуск рекламной <br> компании
            .steps-section__card-green.swiper-slide.card-11
              .steps-section__card-green-header
                .font-w-semi-bold.font-s-32 шаг 11
                img.steps-section__star-green(src="images/steps-section-star-white.svg" loading="lazy" width="60" height="50" alt="star")
              .font-w-regular.font-s-18 Открытие вашего бизнеса <br> и прием первых клиентов
          .large-pagination.swiper-progress-large
      .steps-section__bottom
        .font-w-regular.font-s-24 Работаем строго по договору, в котором описаны <br> наши обязанности и все условия сотрудничества
        button.btn.steps-button(data-remodal-target="modal-form-agreement") Скачать пример договора
        img.steps-section__blank(src="images/steps-section-blank.png" loading="lazy" width="236" height="206" alt="blank")

