section.thanks-section
  .thanks-section__container
    h1.thanks-section__title.font-w-dgo-regular.font-s-34.text-up.mark-blue
      |НАШИ МЕНЕДЖЕРЫ УЖЕ ЗАНИМАЮТСЯ ВАШЕЙ ЗАЯВКОЙ
    p.thanks-section__inner-text.font-w-regular.font-s-24.mark-blue
      |Мы свяжемся с Вами в ближайшее время
    a.btn(href="index.html") Вернуться на главную
