.about-section
  background-image: url('../images/about-section-bg.jpg')
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  background-color #fff

  &__container
    text-align: center
    position relative
    padding 20px 0 20px 0
    +above($breakpoints.sm)
      text-align: start
      padding 80px 0 80px 0
    +above($breakpoints.md)
      padding 100px 0 100px 0
    +above($breakpoints.xxl)
      padding 132px 0 120px 0

  &__box
    display: flex
    flex-direction: column
    align-items: center
    justify-content center
    gap: 20px
    padding-bottom 20px
    +above($breakpoints.sm)
      justify-content start
      padding-bottom 30px
      flex-direction: row
    +above($breakpoints.xxl)
      padding-bottom 40px
      gap: 37px

  &__title
    width 100%
    max-width: 430px
    height: 170px
    background-color $color-blue
    color: #fff
    border-radius: 20px
    padding 20px 10px 20px 10px
    display: flex
    flex-direction: column
    justify-content space-between
    line-height 150%
    +above($breakpoints.sm)
      height: 180px
      padding 20px 10px 20px 20px
    +above($breakpoints.md)
      border-radius: 30px
      height: 190px
      max-width: 502px
      padding 20px 10px 20px 27px
    +above($breakpoints.xxl)
      height: 218px
      max-width: 576px
      padding 20px 10px 20px 27px

  &__text
    +above($breakpoints.sm)
      width 300px
    +above($breakpoints.md)
      width 441px
    +above($breakpoints.xxl)
      width 566px

  &__content
    line-height 128%
