.btn
  height: 50px
  width 100%
  user-select: none
  position: relative
  display: flex;
  justify-content: center
  align-items: center
  overflow: hidden
  color: $color-white
  border-radius: 30px
  text-transform: uppercase
  background: #f49c24;
  font-family: "Ubuntu-Bold"
  font-weight: 700
  font-size: 15px
  line-height: 140%
  transition transform 0.5s, top 0.8s
  +above($breakpoints.sm)
    font-size: 16px;
    height: 55px;
  +above($breakpoints.md)
    font-size: 17px;
  +above($breakpoints.xxl)
    font-size: 21px;
    height: 60px

  &:hover
    transform: scale(1.02)

  &:active
    top: 3px

  &::before
    content: ""
    position: absolute
    top: 0;
    height: 100%;
    width: 36px;
    transform: skewX(-45deg)
    left: -150%
    pointer-events: none
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
    animation: flareAnimation 4s infinite ease-in;
    vendord = official
    @keyframes flareAnimation
      0%
          left: -150%
      100% 
          left: 250%

  // &--call-me
  //   font-size: 14px
  //   width 175px
  //   text-transform: lowercase
  //   +above($breakpoints.md)
  //     height: 42px
  //     font-size: 14px
